.create-article * {
    transition: all 0.2s ease-in-out;
}

.create-article:hover * {
    width: 60px!important;
}

.skeletone {
    min-width: 300px;
}

.articles-container {
    align-items: stretch;
    column-gap: 50px;
    row-gap: 50px;
}

.image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;